/*
#add8e6
#daa520
#00008b
#ee82ee
#ffffff
#1e90ff
#ffc0cb
#d3d3d3
#228b22
#23272a
#f08080
#20b2aa
#7fffd4
#ffb6c1
*/

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    /* debug */
    border: 1px dashed black;
    min-height: 10px;
    
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h2 {
    font-size: 1rem;
}

/* COMMON */
/* Layout */

.container-big {
    max-width: 1100px;
    margin: 0 auto;
    width: 60%;
    /* debug */
    border: 1px dashed black;
    background-color: #ee82ee;
}

.container-small {
    max-width: 1100px;
    margin: 0 auto;
    width: 50%;
    /* debug */
    border: 1px dashed black;
    min-height: 300px;
    background-color: #228b22;
}

.hero-section {
    background-color: #00008b;
}

hr {
    width: 40%;
}

/* Header */
.header {
    padding: 10px;
    /* debug */
    background-color: #add8e6;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.header-left,
.header-right,
.header-right ul,
.header-left ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-left,
.header-right {
    /* debug */
    background-color: goldenrod;
    border: 1px dashed black;
}

/* Hero */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-col40 {
    width: 40%;
    /* debug */
    border: 1px dashed black;
    min-height: 200px;
    background-color: #1e90ff;
}

.hero-col60 {
    width: 60%;
    /* debug */
    border: 1px dashed black;
    min-height: 200px;
    background-color: #ffc0cb;
}

/* Business Plan Columns */
.col-20 {
    width: calc((100% - 20px) / 3);
    /* debug */
    background-color: #f08080;
    border: 1px dashed black;
    min-height: 400px;
}

.heading {
    text-align: center;
    border-bottom: 1px solid black;
}

.col100 {
    /* debug */
    background-color: #20b2aa;
    border: 1px dashed black;
}

.col100-bottom {
    display: flex;
}

.col100-left {
    width: 70%;
    /* debug */
    border: 1px dashed black;
    background-color: #7fffd4;
    min-height: 100px;
}

.col100-right {
    width: 30%;
    /* debug */
    border: 1px dashed black;
    background-color: #7fffd4;
    min-height: 100px;
}



/* Utilities */
.mb-20 {
    margin-bottom: 20px;
}

.gap {
    gap: 10px;
}
