/* Custom Properties */
:root {
    --header-bg: #ffffff;
    --hero-bg: #b4d0e6;
    --btn-main: #0061fe;
    --footer-bg: #000000;


}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h2 {
    font-size: 1rem;
}

/* Buttons */
.btn {
    padding: 3px 6px;
    border: 1px solid transparent;
    display: inline-block;
}

.btn.main {
    background-color: var(--btn-main);
    color: var(--header-bg);
}

.btn.light {
    border: 2px solid transparent;
    border-color: lightgray lightgray black black;
    background-color: var(--header-bg);
}

/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.hero-col40 i {
    font-size: 1.5rem;
}

/* COMMON */
/* Layout */

.container-big {
    max-width: 1100px;
    margin: 0 auto;
    width: 70%;
    /* debug */
    /*border: 1px dashed black;
    background-color: #ee82ee;*/
}

.container-small {
    max-width: 1100px;
    margin: 0 auto;
    width: 60%;
    /* debug */
    border: 1px dashed black;
    min-height: 300px;
    background-color: #228b22;
}

.hero-section {
    background-color: var(--hero-bg);
}

hr {
    width: 40%;
}

.hrlong {
    width: 20%;
}

/* Header */
.header {
    padding: 10px;
    font-size: 0.6rem;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); 
    z-index: 999;
    background-color: var(--header-bg);
}

.nav {
    display: flex;
    justify-content: space-between;
    
}

.logo,
.header-left,
.header-right,
.header-right ul,
.header-left ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Hero */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    padding-top: 70px;
}

.hero-col40 {
    width: 40%;
    font-size: 0.6rem;
    /* debug */
    border: 1px dashed black;
    min-height: 200px;
    background-color: #1e90ff;
}

.hero-col60 {
    width: 60%;
    /* debug */
    border: 1px dashed black;
    min-height: 200px;
    background-color: #ffc0cb;
}

/* Business Plan Columns */
.col-20 {
    width: calc((100% - 20px) / 3);
    /* debug */
    background-color: #f08080;
    border: 1px dashed black;
    min-height: 400px;
}

.heading {
    text-align: center;
    border-bottom: 1px solid black;
}

.col100 {
    width: 100%;
    /* debug */
    background-color: #20b2aa;
    border: 1px dashed black;
}

.col100-bottom {
    display: flex;
}

.col100-left {
    width: 70%;
    /* debug */
    border: 1px dashed black;
    background-color: #7fffd4;
    min-height: 100px;
}

.col100-right {
    width: 30%;
    /* debug */
    border: 1px dashed black;
    background-color: #7fffd4;
    min-height: 100px;
}

.col60 {
    width: 60%;
    /* debug */
    background-color: #1e90ff;
    min-height: 300px;
    border: 1px dashed black;
}

.col40 {
    width: 40%;
    /* debug */
    background-color: #ffc0cb;
    min-height: 300px;
    border: 1px dashed black;
}

/* Dropbox Business Section */
.colgrid {
    width: calc((100% - 20px) / 3);
    /* debug */
    border: 1px dashed black;
    min-height: 200px;
    background-color: #d3d3d3;
}

.colend {
    width: 60%;
}

/* Footer */
.footer {
    background-color: #23272a;
}

.colfooter {
    width: calc((100% - 40px) / 5);
    /* debug */
    background-color: #ffb6c1;
    border: 1px dashed black;
}

/* Utilities */
.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-10 {
    margin-top: 10px;
}

.pdt-20 {
    padding-top: 20px;
}

.pdb-20 {
    padding-bottom: 20px;
}

.pdtb-20 {
    padding: 20px 0;
}

.gap {
    gap: 10px;
}

.wrap {
    flex-wrap: wrap;
}

.block {
    display: block;
}